body {
    margin: 0;
    background: #f0f0f0;
    font-family:  'Roboto', Helvetica, Arial, sans-serif;
}

#container {
    margin-top: 30px;
}

h1 {
    margin: 0;
}

button {
    padding: 10px;
    background: #eee;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    outline: none !important;
    cursor: pointer;
}

button[disabled] {
    background: #aaa !important;
    cursor: default;
}

#btn-start-recording {
    background: #5db85c;
}

#btn-stop-recording {
    background: #d95450;
}

#player {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background: #ffffff;
}

audio {
    width: 100%;
}

  header {
  background: #eee;
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
}
header a:first-child {
  float: right;
  margin: 0 0 20px 30px;
}

video {
  width: 267px;
  height: 200px;
  border: 1px solid white;
  outline: 1px solid #ccc;
  z-index: 5;
}
#myvideo {
  transform: rotateY(-180deg);
}
#start {
  display: none;
}
    
h1 {
    margin: 0;
}

html, body {
	height: 100%;
}

body {
	background: #101010;
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#wave {
	height: 70px;
	width: 70px;
	fill: #fff;
}

@for $i from 1 through 9 {
	#Line_#{$i} {
		animation: pulse 1s infinite;
		animation-delay: $i * .15s;
	}
}

@keyframes pulse {
	0% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
	
	50% {
		transform: scaleY(.7);
		transform-origin: 50% 50%;
	}
	
	100% {
		transform: scaleY(1);
		transform-origin: 50% 50%;
	}
}
